@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Madimi+One&family=Pacifico&family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fresca&family=Lilita+One&family=Madimi+One&family=Pacifico&family=Protest+Riot&display=swap');
* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0%;
    padding: 0%;
}

body {
    background: linear-gradient(black , rgb(1, 59, 103));
    color: aliceblue;
    height: auto;
}

button {
    cursor: pointer;
}

 /* ================= this part just for styling thr header ================== */

.header {  
    display: flex;
    align-content: center;
    width: 100%;
    height: 100px;
    /*background-color: antiquewhite;*/
}

.logo {
    /*background-color: aqua;*/
    padding-left: 5%;
    display: flex;
    align-items: center;
    width: 30%;
    text-align: start;
    
    font-size: 30px;
}

.logo a {
    color: rgb(241, 93, 108);
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    color: rgba(240, 255, 255, 0.778);
}

.links a{
    color: #ffffffb1;
    font-size: 20px;
}

.btn {
    /*display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    background-color: blue;*/
    display: none;
} 



/* ==================== this part for styling the containeer ================  */


.description {
    margin-top: 50px;
    margin-bottom: 100px;
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(2,50%);
    gap:10px;

}

.description div {
    background-color: rgba(255, 228, 196, 0);
    
}

.information {
    text-align: center;
    padding-top: 100px;
    color: rgba(240, 248, 255, 0.654);
}

.information h2 {
    text-transform: uppercase;
    font-family: "Fresca", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: rgba(127, 255, 212, 0.733);
    margin-bottom: 20px;
    text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    /*text-fill-color: transparent;*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 50px;
  
}

@keyframes textclip {
    to {
      background-position: 200% center;
    }
  }



.animation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.animation img {
  border-radius: 100%;
  border: #ff1361 2px solid;
  width: 300px;
  height: 300px;
}



.layout {
    width: 100%;
    height: 100%;

    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
}

.title {
    display: block;
    text-transform: uppercase;
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    text-align: center;
    margin-bottom: 200px;
  }

.project {
    width: 300px;
    height: 400px;
    background-color: rgb(42, 97, 122);
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
  }

  



/*================= start styling counter project ============*/

.project1-title {
  
  text-transform: uppercase;
  color: #ff1362e0;
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
}


.project1-content {
  
  width: 80%;
  height: 250PX;
  text-align: center;
  margin: 10px 10%;
  padding: 40px 0%;
  background-color:#ffffffd6;
  border-radius: 10px;
}

.count {
    display: block;
    position: relative;
    width: 80%;
    margin:  10%;
    padding: 40px 0px;
    height: 100px;
    background-color: black;
    border-radius: 5px;
}

.count::before {
    content: 'count : ';
    margin: 2px;
}

.project1-content button {
    background-color: black;
    border: none;
    border-radius: 4px;
    padding: 7px;
    color: aliceblue;
}

.counter-source-code {
  width: 50%;
  background-color: #ff1361;
  padding: 15px;
  border-radius: 5px;
  border: none;
  color: #fff;
  position: relative;
  left: -15%;
}

.counter-source-code:hover {
    background-color: #8d2c2c;
    transition: 1s;
}

/* ================= start styling color-flliper project =================== */

.project2-title {
  
    text-transform: uppercase;
    color: #ff1362e0;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }


.project2-content {
  
    width: 80%;
    height: 250PX;
    text-align: center;
    margin: 10px 10%;
    padding: 40px 0%;
    background-color: #ffffffd6;
    border-radius: 10px;
  }

.background {
    display: block;
    position: relative;
    width: 80%;
    margin:  10%;
    padding: 40px 0px;
    height: 100px;
    background-color: black;
    border-radius: 5px;
}

.background::before {
    content: 'Color : ';
    margin: 2px;
}

.project2-content button {
    background-color: black;
    border: none;
    border-radius: 4px;
    padding: 7px;
    color: aliceblue;
}


.project2-source-code {
    width: 50%;
    background-color: #ff1361;
    padding: 15px;
    border-radius: 5px;
    border: none;
    color: #fff;
    position: relative;
    left: -15%;
  }
  
.project2-source-code:hover {
    background-color: #8d2c2c;
    transition: 1s;
  }

/* ================= start styling reviews card project =================== */

.project3-title {
  
    text-transform: uppercase;
    color: #ff1362e0;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }

.project3-content {
  
    width: 80%;
    height: 250PX;
    text-align: center;
    margin: 10px 10%;
    padding: 20px 0%;
    background-color: #ffffffd6;
    border-radius: 10px;
    color: cornflowerblue;
  }

.project3-content img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 5px solid #ff1362e0;
    object-fit: cover;
}

.project3-content h3 {
    color: #8d2c2c;
    text-transform: uppercase;
    font-family: "Protest Riot", sans-serif;
    font-weight: 100;
    font-style: normal;

}

.project3-content h4 {
    text-transform: uppercase;
}

.project3-content p {
    font-size: small;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(0, 0, 0, 0.858);
    margin: 5px;
    padding: 0px 10px;
}

.project3-content button {
    border: none;
    background: none;
    color: #2c5aff;
    font-size: 20px;
    padding: 5px;
}



.project3-source-code {
    width: 50%;
    background-color: #ff1361;
    padding: 15px;
    border-radius: 5px;
    border: none;
    color: #fff;
    position: relative;
    left: -15%;
  }
  
.project3-source-code:hover {
    background-color: #8d2c2c;
    transition: 1s;
  }





/* ================= start styling BMI program project =================== */

.project4-title {
  
    text-transform: uppercase;
    color: #ff1362e0;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }

.project4-content {
  
    width: 80%;
    height: 250PX;
    text-align: start;
    margin: 10px 10%;
    padding: 20px ;
    background-color: #ffffffd6;
    border-radius: 10px;
    color: cornflowerblue;
  }

.project4-content  div span {
    text-align: start;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.project4-content  div input {
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: darkgrey;
    width: 100%;
}

.project4-content .calcul-btn {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #2c5aff;
    color: #fff;
}

.project4-content .calcul-btn:hover {
    background-color: #2c5affaa;
}

.project4-content .bmi-result {
    width: 100%;
    height: 70px;
    padding: 5px;
    background-color: cadetblue;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.858);
}





.project4-source-code {
    width: 50%;
    background-color: #ff1361;
    padding: 15px;
    border-radius: 5px;
    border: none;
    color: #fff;
    position: relative;
    left: -15%;
  }
  
.project4-source-code:hover {
    background-color: #8d2c2c;
    transition: 1s;
  }
















@media (max-width: 790px) { 
    .links{
        display: none;
    }
    .show {
        position: absolute;
        margin-top: 100px;
        display: block;
        width: 100%;
        height: auto;
        text-align: center;
        background-color: rgb(0, 0, 0);
        color: rgba(240, 248, 255, 0.775);
    }

    .show a {
        display: block;
        padding: 10px;
    }

    .hide {
        display: none;
    }

    .btn {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: end;
        padding-right: 5%;
    } 

    .btn button {
        background-color: rgba(193, 105, 105, 0.675);
        border: none;
    }

    .description {
        display: block;
        background-color: #a6a6a600;
        height: 300px;
    }

    .description h2 , p {
        font-size: 20px;
    }

    .description  p{
        font-size: 10px;
        width: 100%;
    }

    .animation {
        display: none;
        
    }
    
 }

 /* ===========================================*/

 